header{
    background-color:rgb(255, 139, 220);


    flex-direction: row;
      
    .menu{
        position:sticky;
      }
    
    .menu ul li {
        display: inline;
        margin-left: 1%;
      }
    
}


.logo{
    text-align: left;
    font-size: 1.5em;
}

body{
    background-color: aquamarine;
}

.container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;

    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px;
}

.menu{
    background-color: rgb(255, 139, 220);
    text-align: center;
    padding: 2%;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
}

a:hover {
    text-decoration: none;
    font-size: 1.1em; 
    color: #000000;
    }

li{
    padding: 1%;
    font-size: 1.1em;
}

